@tailwind base;
@tailwind components;
@tailwind utilities;

.chartPage-background {
  @apply pt-20 pb-96;
}

.chartPage-all {
  @apply justify-center rounded-lg pl-16 pb-5;
}

.chartPage-all {
  margin-left: 20rem;
  margin-right: 20rem;
  background-color: #44896e;
}

.chartPage-header-text {
  @apply text-4xl font-bold mb-1 pt-5;
}
