@tailwind base;
@tailwind components;
@tailwind utilities;

.forgotPass-background {
  @apply pt-36 pb-96;
}

.forgotPass-all {
  @apply justify-center rounded-lg pt-6 pl-16 pb-5;
}

.forgotPass-all {
  margin-left: 28rem;
  margin-right: 28rem;
  background-color: #44896e;
}

.forgotPass-header-text {
  @apply text-4xl font-extrabold;
}

.forgotPass-header-subtext {
  @apply text-lg pt-1;
}

.forgotPass-email-input {
  @apply mt-8;
}

.forgotPass-input-box {
  @apply h-10 rounded-md pl-2 py-2 text-lg w-11/12 mt-1;
}

.forgotPass-input-box {
  background-color: #44896e;
  border-width: 0.16rem;
  border-color: #182c25;
}

.forgotPass-reset-btn {
  @apply w-11/12 rounded-2xl py-2 text-xl mb-5 mt-6 font-bold;
}
.forgotPass-reset-btn {
  background-color: #182c25;
}
