@tailwind base;
@tailwind components;
@tailwind utilities;

.setUsername-background {
  @apply pt-40 pb-56;
}

.setUsername-all {
  @apply justify-center rounded-lg pl-24 pb-5;
}

.setUsername-all {
  margin-left: 25rem;
  margin-right: 25rem;
  background-color: #44896e;
}

.setUsername-header-text {
  @apply text-4xl font-bold mb-1 pt-5;
}

.setUsername-input-box {
  @apply block h-10 rounded-md pl-2 py-2 text-lg w-5/6  mt-10;
}

.setUsername-input-box {
  background-color: #44896e;
  border-width: 0.16rem;
  border-color: #182c25;
}

.setUsername-check-text {
  @apply mt-3 text-lg text-green-300;
}

.setUsername-check-false {
  @apply text-red-400;
}

.setUsername-btn {
  @apply w-5/6 rounded-2xl py-2 text-base mb-5 mt-8 font-bold;
}

.setUsername-btn {
  background-color: #182c25;
}
