@tailwind base;
@tailwind components;
@tailwind utilities;

.homePage-mainBackground {
  @apply flex flex-col text-3xl border-b-2;
}

.homePage-mainBackground {
  background: url($lib/images/splash_img.jpg) center center/cover;
  height: 91vh;
  border-color: #408356;
}

.homePage-mainBackground h1 {
  @apply mt-52 text-6xl ml-48 absolute;
}

.homePage-mainBackground h2 {
  @apply mt-80 text-3xl ml-9 absolute text-center;
}

.homePage-mainBackground h1,
.homePage-mainBackground h2 {
  font-weight: bold;
  color: #f8f0ca;
}

.homePage-secondBackground {
  background-color: #182c25;
  color: #f8f0ca;
}

.homePage-secondBackground {
  @apply grid grid-cols-2 text-center align-middle py-10;
}

.homePage-header-text {
  @apply text-3xl mb-5 font-bold;
}

.homePage-quantity {
  border-right-width: 0.2rem;
  border-color: #44896e;
}

.homePage-list {
  @apply text-left ml-52 text-lg;
}

.homePage-list {
  list-style-type: disc;
}
